
<section class="box-shadow mb-5 p-5 mt-5 container m-auto w-75">
  <h1 class="mt-5"> contact</h1>
  <p class="w-75 fs-5 mt-5 lh-lg">You can use the below from to connect with us anytime</p>

  <form >

    <div class="m-3">
      <label for="name">Name</label>
      <input type="text" class="form-control">
    </div>

    <div class="m-3">
      <label for="name">Name</label>
      <input type="text" class="form-control">

    </div>

    <div class="m-3">
      <label for="email">Email</label>
      <input type="email" class="form-control">

    </div>

    <div class="m-3">
      <label for="subject">Subject</label>
      <input type="text" class="form-control">
    </div>

    <div class="m-3">
      <label for="textare">Message</label>
      <textarea   class="form-control"></textarea>

    </div>


  </form>
</section>






